@font-face {
  font-family: "iconfont"; /* Project id 1898832 */
  src: url('iconfont.woff2?t=1666768158025') format('woff2'),
       url('iconfont.woff?t=1666768158025') format('woff'),
       url('iconfont.ttf?t=1666768158025') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-money:before {
  content: "\e607";
}

.icon-xiangshanggengduo:before {
  content: "\e642";
}

.icon-xiangxiagengduo:before {
  content: "\e646";
}

.icon-shibaikulianbiaoqing:before {
  content: "\e613";
}

.icon-liaotianjiemianbiaoqing:before {
  content: "\e61f";
}

.icon-iconlocate01:before {
  content: "\e63e";
}

.icon-docx:before {
  content: "\e69d";
}

.icon-upload_a_picture:before {
  content: "\e679";
}

.icon-shezhi:before {
  content: "\e750";
}

.icon-config:before {
  content: "\e656";
}

.icon-tubiao-:before {
  content: "\e61c";
}

.icon-shuzhuangtu_o:before {
  content: "\ebb3";
}

.icon-doc:before {
  content: "\e62e";
}

.icon-locate:before {
  content: "\e61e";
}

.icon-shebeiyufangxingweihu:before {
  content: "\e654";
}

.icon-dingqigongzuo:before {
  content: "\e62f";
}

.icon-maintain:before {
  content: "\e62b";
}

.icon-txt:before {
  content: "\e69e";
}

.icon-PDF-:before {
  content: "\e670";
}

.icon-xls:before {
  content: "\e63d";
}

.icon-docx1:before {
  content: "\e686";
}

.icon-beiwanglu:before {
  content: "\e632";
}

.icon-jianxiujilu:before {
  content: "\e64f";
}

.icon-ppt:before {
  content: "\e627";
}

.icon-shaixuan:before {
  content: "\e62c";
}

.icon-weihubaoyangjilu:before {
  content: "\e60a";
}

.icon-yidongjilu:before {
  content: "\e63b";
}

.icon-quexianjilu:before {
  content: "\e678";
}

.icon-icon-test:before {
  content: "\e964";
}

.icon-sao:before {
  content: "\e606";
}

